@import '../../../assets/scss/helpers/variables';
.choose__block_wrapper {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
}
.choose__title {
  margin-bottom: 14px;
}

.choose__content {
  margin-left: auto;
}

.choose__sub_title {
  font-family: $ff-title;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  color: #474747;
  max-width: 470px;
  margin-bottom: 14px;
}

.choose__description {
  font-family: $ff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #666666;
  max-width: 570px;
  margin-bottom: 14px;
  span {
    font-family: $ff-title;
    span {
      color: $red;
    }
  }
}

.choose__lists_item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 28px;
}

.list__item {
  font-family: $ff-title;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #474747;
  margin-bottom: 12px;
  max-width: 210px;
}

.btn__choose_more {
  border: none;
  outline: none;
  background-color: $red;
  color: #fff;
  border-radius: 10px;
  padding: 12px 34px;
  cursor: pointer;
  font-family: $ff-title;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  &:hover {
    background-color: lighten($red, 10);
  }
  &:active {
    background-color: $red;
  }
}

.content {
  &__player {
    button {
      border: none;
      background: inherit;
    }
    display: flex;
    align-items: center;
    svg {
      height: 25px;
      width: 25px;
    }
  }
  &__icon {
    svg {
      height: 25px;
      width: 25px;
    }
  }
  &__btn {
    padding: 0;
    font-family: $ff;
    font-size: 16px;
    margin-top: 22px;
    border: none;
    background: inherit;
    display: flex;
    align-items: center;
  }
}
