@import 'normalize';
@import './fonts/fonts.scss';

body {
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

//.leaflet-map-pane svg {
//  transform: rotate(180deg);
//}


.map__container_wrapper {
  background: url("/nov_footer.jpg");
  height: 1350px;
  //opacity: 0.25;
  background-size: cover;
}

.opacity_container {
  padding-top: 250px;
  width: 100%;
  height: 100%;
  background: rgba(#fff, 0.94);
}