@import 'normalize';
@import './helpers/_variables.scss';
@import './fonts/fonts.scss';

body {
  margin: 0;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
}

//.leaflet-map-pane svg {
//  transform: rotate(180deg);
//}

.map__container_wrapper {
  background: url('/nov_footer.jpg');
  height: 990px;
  //opacity: 0.25;
  background-size: cover;
}

.opacity_container {
  padding-top: 100px;
  width: 100%;
  height: 100%;
  background: rgba(#fff, 0.94);
  position: relative;
  overflow: hidden;
}

.ant-modal-title {
  font-family: $ff-title;
  font-style: normal;
  font-weight: bold;
  font-size: 22px !important;
}

.leaflet-popup {
  width: 70px;
  height: 70px;
  border-radius: 190px;
}
.leaflet-popup-content-wrapper {
  width: 100% !important;
  height: 100% !important;
  padding: 0;
  margin: 0;
  border-radius: 90px !important;
}
.leaflet-popup-content {
  width: 100% !important;
  height: 100% !important;
  padding: 5px;
  margin: 0 !important;
  border-radius: 90px !important;
}
.leaflet-popup-tip-container {
  top: 68px;
}
.leaflet-popup-close-button {
  display: none;
}
