//colors
$text-color: #342b2b;
$text-grey: rgba(#2a2f37, 0.6);
$bg-color: #eef1f2;
$blue: #1e3daf;
$grey-dark: #342b2b;
$grey: #e3eaed;
$grey-light: #a4b0b6;
$red: #f5442c;

//media
$screen-xxs: 370px;
$screen-xs: 640px;
$screen-sm: 750px;
$screen-md: 1024px;
$screen-l: 1280px;
$screen-xl: 1440px;
$screen-pc: 1150px;
$screen-xxl: 1980px;
