@import "assets/scss/helpers/variables";

.popup_title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
  color: $red;
  font-family: $ff-title;
}

.popup_text {
  font-family: $ff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}

.popup_link {
  text-align: end;
}