@import '../../../assets/scss/helpers/variables';

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 27px 0;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header__menu_items {
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: center;
}

.item {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  font-family: $ff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  color: $text-color;
  &:hover {
    color: $red;
  }
}

.btn__sign_up {
  border: none;
  outline: none;
  background-color: $red;
  color: #fff;
  border-radius: 10px;
  padding: 12px 54px;
  cursor: pointer;
  font-family: $ff-title;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;

  &:hover {
    background-color: lighten($red, 10);
  }

  &:active {
    background-color: $red;
  }
}

.header__logo {
  font-family: $ff-title;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
}

.logo_title {
  color: $red;
}

.user__name {
  font-family: "ArnoldBocklin";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #474747;
  max-width: 210px;
  display: flex;
  align-items: center;
}

.user__login {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn__logout {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  height: 100%;

}