.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 27px 0;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header__menu_items {
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: center;
}

.item {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;

  text-decoration: none;
  color: #666666;
}

.btn__sign_up {
  border: none;
  outline: none;
  background-color: #1f39ba;
  color: #fff;
  border-radius: 10px;
  padding: 12px 54px;
  cursor: pointer;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;

  &:hover {
    background-color: lighten(#1f39ba, 10%);
  }
  &:active {
    background-color: #1f39ba;
  }
}

.header__logo {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
}
