@font-face {
  font-family: 'BlagovestFourSerif';
  src: url('./BlagovestFourSerif.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OldCyr';
  src: url('./OldCyr.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ArnoldBocklin';
  src: url('./ArnoldBocklin.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


