@import 'assets/scss/helpers/variables';

.card__wrapper {
  position: relative;
  padding: 21px 21px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 2px 4px 2px rgba(162, 160, 160, 0.15);
  transition: all 0.3s ease;
  margin: 10px auto;
  width: 96%;

  cursor: pointer;

  &:hover {
    background: #fafaff;
    box-shadow: 0px 2px 20px 4px #d8d8d8;
  }
}

.card__title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  padding-right: 26px;
}

.card__description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #666666;
}

.popular__line {
  height: 4px;
  width: 100%;
  background-color: #F7F7F8;
  border-radius: 8px;
  position: relative;
  margin-bottom: 12px;
}

.line__orange {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 8px;
  width: 0;
  background-color: $red;
  transition: all 1s ease;
}

.btn__audio {
  cursor: pointer;
  position: absolute;
  right: 11px;
  top: 15px;
  padding: 10px;

  border: none;
  outline: none;
  background: transparent;

  &:hover {
    border-radius: 8px;
    background: lighten($grey-light, 10%);
  }

  &:active {
    background: $grey-light;
  }
}

.active__music {
  border-radius: 8px;
  background: lighten($grey-light, 10%);
}


.image__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
}

.btn__view_video {
  margin-top: 15px;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  font-family: "ArnoldBocklin";
  font-style: normal;
  font-size: 18px;
  line-height: 26px;

  &:hover {
    text-decoration: none;
  }
}

.title__wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}